.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.col {
  flex: 1
}


.section {
  .intro {
    height: 100%;
    width: 100%;

    .bg-section {
      display: flex;
      flex-direction: column;
      height: 100%;
      padding: 1em 2em;
      position: relative;
      width: 100%;

      #video-home {
        position: fixed;
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
      }

      h1 {
        background: linear-gradient(to left, #87c7df, #648896);
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      .rastreio-de-encomenda {
        padding: 1em 2em;
        box-shadow: 6px 7px 14px #e2e2e2;
        width: 50%;

        input[type=text] {
          border-radius: 5px 0 0 5px;
        }

        button {
          background-color: #6495ed;
          border: 1px solid #6495ed;
          border-radius: 0 5px 5px 0;
          cursor: pointer;
          color: #fff;
          margin-left: -6px;
          padding: 12px 20px;

        }
      }
    }
  }
}

footer {
  background-color: #e2e4e9;
  bottom: 0;
  height: 40px;
  position: fixed;
  padding: 10px 20px;
  width: 100%;
}