:root {
    --primary-color: #444;
    --secondary-color: #e2e2e2;
    --font-family: 'Open Sans';


    --h1-size: 64px;
    --h2-size: 60px;
    --h3-size: 56px;
    --h4-size: 52px;
    --h5-size: 48px;
}