#fp-nav ul li a span,
.fp-slidesNav ul li a span {
    background: #ffc358;
}


#fp-nav ul li a.active:before,
.fp-slidesNav ul li a.active::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #ffc358;
    border-radius: 50%;
    content: '';
    height: 18px;
    left: -2px;
    opacity: 1;
    position: absolute;
    top: -3px;
    width: 18px;
}